##############################################################################
#    PyDurBrowser
#
#    Copyright (c) 2014 Jason Pruitt <jrspruitt@gmail.com>
#
#    This file is part of PyDurBrowser.
#    PyDurBrowser is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    PyDurBrowser is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with PyDurBrowser.  If not, see <http://www.gnu.org/licenses/>.
##############################################################################

import os
import bottle

# default settings for site.
config_filename = 'pdb_config.xml'
desc_ext = '.desc'
display_prefix = 'display/'
asset_path = '/assets'

# Use random secure number, and keep secret!
session_key = 'CHANGE THIS!!!'

# function call because request isn't available on import
def data_path():
    return bottle.request.get('DOCUMENT_ROOT')

# readme (case insensative) for page displaying
readme_names = ['readme.md']
# alternate paths to look for readme, relative to page root
readme_alt_paths = ['_WORK', '_NOTES']

css_path = os.path.join(asset_path, 'css')
def get_css(name):
    """Create CSS path"""
    return os.path.join(css_path, name)

js_path = os.path.join(asset_path, 'js')
def get_js(name):
    """Create Javascript path"""
    return os.path.join(js_path, name)

# If present will be written to bottom of main.tpl
tracking_code = ''
