############################
# Linux Specific GitIgnore #
############################
.*
!.gitignore
*~
*.sw[a-p]
 
# KDE
.directory
 
##################################
# Visual Code Specific GitIgnore #
##################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

 
##############################
# Project Specific GitIgnore #
##############################
*.pyc
browser/settings.py
auth/*.json
tools/
venv/
